<div class="titleBar">
		<span class="spacer"></span>
		<span class="switches" ng-class="{'active':resultsCtrl.searchSwitch==1}" ng-click="resultsCtrl.switch(1)"><i class="fa fa-youtube"></i></span>
		<span class="switches" ng-class="{'active':resultsCtrl.searchSwitch==2}" ng-click="resultsCtrl.switch(2)"><i class="fa fa-folder"></i></span>
		
		<input id="search" ng-model="resultsCtrl.searchPhrase" ng-class="{'changed':resultsCtrl.searchModified}" ng-change="resultsCtrl.searchModified=true;" dir="auto" type="search" placeholder="Search phrase \ Youtube url" ng-keypress="resultsCtrl.search($event)" />
		<span class="spacer"></span>
		
		<span class="titleButton" ng-click="cheetsheetCtrl.toogleCheetSheet()"><i class="fa fa-question-circle"></i></span>
		<span class="titleButton" ng-click="homeCtrl.minimize()"><i class="fa fa-minus-square"></i></span>
		<span class="titleButton" ng-click="homeCtrl.enterFullscreen()"><i class="fa fa-external-link"></i></span>
		<span class="titleButton" ng-click="homeCtrl.close()"><i class="fa fa-times-circle"></i></span>
		<span class="spacer"></span>
</div>