#cheetsheet{
	position: absolute;
	top: 15%;
	left: 20%;
	width: 50%;
	background-color: rgb(58, 58, 58);
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	padding: 0 3em;
	z-index: 500;
}
#hotKeys{
	text-align: left;
}
#cheetsheet .close{
	background-color: rgb(255, 45, 45);
	color: rgb(255, 255, 255);
	border: 1px solid white;
	font-size: 2em;
	border-radius: 0px;
	cursor: pointer;
	outline:0;
}
